@import "~react-image-gallery/styles/css/image-gallery.css";

:root {
  --primary: #1f509a;
  --secondary: #e38e49;
  --primary-light: #d4ebf8;
  --primary-dark: #0a3981;
  --special: #ffd700;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/*header bar*/
.header {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  background-color: var(--primary-dark);
  color: "white";
  height: 150px;
  padding: 0 40px;
}

.logodiv {
  height: 90%;
  padding-top: 20px;
}

.logo {
  height: 100%;
}

/*banner*/

.bannersection h1{
  background: var(--special);
  padding-top: 20px;
  margin: 0;
}


/*painting gallery*/
.gallerysection {
  display:flex;
  justify-content:center;
  padding: 10px 30px 50px 30px;
  background: var(--primary-dark);
}

.gallery{
  width: 80%;
}

.gallery h1 {
  margin: 0;
  font-size: 60px;
  font-family: "Italianno", serif;
  font-weight: 400;
  font-style: normal;
  color: var(--special)
  
}



/*quote*/
.quotesection {
  background: var(--secondary);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items:center;
  padding: 40px;
}

.quotearabic h1{
  color: var(--primary-light);
  font-size: 72px;
  font-family: 'Brush Script MT', cursive;
  margin: 0;
}

.quoteenglish h1{
  font-size: 42px;
  color: var(--primary-dark);
  margin: 0;
}

.quoteauthordiv {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  width: 100%; /* Ensure it spans the full width */
}

.quoteauthor h3 {
  padding-right:40px;
  font-size: 30px;
  color: var(--primary-dark)
}


